body {
    margin: 0;
    font-family:'Trebuchet MS';
}

/*---------------- UNTUK BAGIAN KIRI HEADER LOGO ------------------ */
.heading{
    background-color: #e6e7d4ad;
    height: 70px;
    width: 100%;
}

.container {
    width: 1270px;
    margin: 0 auto;
}

.header-left {
    float : left;
    
}

.header-left h1{
    margin: 15px;
}

/*---------------- UNTUK BAGIAN TENGAH HEADER------------------- */
.header-mid {
    float: left;
}

.header-mid li{
    float: right;
    list-style:none;
    padding-top: 10px;
}
.header-mid a {
    padding: 26px 20px;
    text-decoration: none;
    color: black;
}
.header-mid a:hover {
    background-color: #bbbbbbad;
    transition: all 0.5s;   
    color: white;
}
/*---------------- UNTUK BAGIAN KANAN HEADER------------------- */

.header-right{
    float: right;
    padding: 10px 10px;
    
}


.header-right li{
    float: left;
    list-style: none;    
    
}

.header-right a {
    padding: 26px 14px;
    text-decoration: none;
    color: black;
    
}
.header-right a:hover {
    background-color: #bbbbbbad;
    transition: all 0.5s;   
    color: white;
}

/*------Main Section--------*/

.content-wrapper{
    margin: 15px 0;
}

.content-wrapper h2{
    text-align: center;
    border-bottom: 2px solid #e6e7d4ad;
    padding-bottom: 15px;
}

.main-header a{
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

/*--------------------------*/


/* -- INI BAGIAN FOOTER--*/
.footer {
    padding: 0px 20px;
}

.footer-list {
    list-style: none;
}

.sosial-media-logo {
    list-style: none;
    float: left;
}

.sosial-media-logo img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.sosial-media-logo img:hover {
    
}